---
BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Mozilla
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
AlignAfterOpenBracket: Align
PenaltyBreakBeforeFirstCallParameter: 10000
BinPackArguments: false
